<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MySinglePageApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4ECFFA141DD1F13800441CAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ECFFA281DD1F13900441CAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4ECFFA331DD1F13900441CAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
